/App.config
/.vs/
/bin/
/obj/
/Properties/
App.config
.vs/
bin/
obj/
Properties/
/App.config*
/.vs/*
/bin/*
/obj/*
/Properties/*
App.config*
.vs/*
bin/*
obj/*
Properties/*

*.user
*.sln
*.cache
*.zip
*.rar
*.ini
thumb.db
Thumb.db
thumbs.db
Thumbs.db

commit-message.txt
*.sfk

# Custom
/_Old Sprites
/Ref
/Items/Ores/src
/Backgrounds/src
/Items/Weapons/src
/Items/Tools/src
/Items/Summoners/src
/Projectiles/src
/Projectiles/Pets/src
/Tiles/src
/NPCs/Boss/*
/Buffs/src
/Source/*
*.pdn
*.psd
*.rar
*.zip